{
  "presets": [
    "next/babel"
  ],
  "plugins": [
    "inline-react-svg",
    "add-react-displayname",
    [
      "babel-plugin-styled-components",
      {
        "ssr": true,
        "displayName": true,
        "minify": true,
        "preprocess": false,
        "pure": true
      }
    ],
    [
      "module-resolver",
      {
        "root": [
          "./"
        ]
      }
    ]
  ]
}