{
    "env": {
        "production": {
            "plugins": [
                "babel-plugin-jsx-remove-data-test-id"
            ]
        }
    },
    "presets": [
        [
            "next/babel",
            {
                "styled-jsx": {
                    "plugins": [
                        "styled-jsx-plugin-sass"
                    ]
                }
            }
        ]
    ],
    "plugins": [
        "babel-plugin-macros",
        "inline-react-svg",
        "add-react-displayname",
        "react-require",
        [
            "styled-components",
            {
                "ssr": true,
                "displayName": true,
                "minify": true,
                "preprocess": false,
                "pure": true
            }
        ],
        [
            "module-resolver",
            {
                "root": [
                    "."
                ],
                "alias": {
                    "@components": "./src/components/",
                    "@configs": "./src/configs/",
                    "@enums": "./src/enums/",
                    "@helpers": "./src/helpers/",
                    "@hooks": "./src/hooks/",
                    "@locales": "./src/locales/",
                    "@pages": "./src/pages/",
                    "@styles": "./src/styles/",
                    "@utils": "./src/utils/"
                }
            }
        ]
    ]
}
