{
  "presets": [
    [
      "next/babel",
      {
        "styled-jsx": {
          "plugins": [
            "styled-jsx-plugin-sass"
          ]
        }
      }
    ]
  ],
  "plugins": [
    "inline-react-svg",
    "add-react-displayname",
    "react-require",
    [
      "babel-plugin-styled-components",
      {
        "ssr": true,
        "displayName": true,
        "minify": true,
        "preprocess": false,
        "pure": true
      }
    ],
    [
      "module-resolver",
      {
        "root": [
          "./"
        ]
      }
    ]
  ]
}