@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Custom global overrides */
body {
	@apply antialiased;
}

tr a,
tr div {
	@apply clear-both inline-block max-w-full;
}

/* Custom variables */
.link-item {
	@apply block max-w-full;
}

.link-item a {
	@apply clear-both inline-block;
}

.icon-status {
	@apply text-left;
}

.icon-status span {
	@apply mx-auto inline-block;
}

.truncate-link,
.truncate-profile-text,
.truncate-breadcrumbs {
	@apply truncate;
}

.truncate-profile-text {
	width: auto;
}

.truncate-link,
.truncate-breadcrumbs {
	min-width: 12rem;
	max-width: 24rem;
}

.scroll-dark-bg {
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 3px;
}

.confetti-bg-img {
	background: url("/images/backgrounds/subscription-success-bg.png");
	background-size: cover;
	background-position: top center;
	background-repeat: no-repeat;
	min-height: 18rem;
	width: 100%;
	position: absolute;
	z-index: -1;
}

/* Custom vendor overrides */
.react-loading-skeleton {
	@apply !relative !rounded-md;
}

.legend-val {
	@apply font-semibold text-gray-1300;
}

.legend-text {
	@apply mr-2.5;
}

.apexcharts-legend {
	@apply !mx-auto !block max-w-xs;
}

.apexcharts-legend-text {
	@apply flex w-full items-center justify-between;
}

.apexcharts-legend-marker {
	@apply !mr-2.5;
}

.apexcharts-legend-series {
	@apply flex cursor-pointer items-center border border-solid border-gray-1400 outline-none;
	padding-bottom: 10px;
	-webkit-tap-highlight-color: transparent;
}

.apexcharts-legend-series {
	@apply border-0 border-none;
}

.legend-val {
	@apply text-gray-1300 font-semibold;
}

.legend-text {
	@apply mr-3;
}

.response-time-tooltip {
	@apply divide-y divide-gray-200 overflow-hidden rounded-lg bg-white shadow;
}

.response-time-tooltip-title {
	@apply px-2 py-3 sm:px-4;
}

.response-time-tooltip-text {
	@apply px-2 py-3 sm:p-4;
}

.response-time-tooltip-title-left,
.response-time-tooltip-text-left {
	@apply text-sm font-medium text-gray-500 flex flex-col;
}

.response-time-tooltip-title-left-value,
.response-time-tooltip-text-left-value {
	@apply text-xs font-medium text-gray-900;
}

.rc-pagination {
	@apply m-0 flex items-center justify-between p-0 text-sm font-normal leading-5 text-gray-500;
}

.rc-pagination ul,
.rc-pagination ol {
	@apply m-0 list-none p-0;
}

.rc-pagination::after {
	@apply invisible clear-both block h-0 overflow-hidden;
}

.rc-pagination-total-text {
	@apply mb-8 flex items-center lg:m-0;
}

.rc-pagination-item {
	@apply mr-2 inline-block h-auto min-w-[2rem] cursor-pointer select-none list-none rounded-sm text-center align-middle leading-7 text-gray-500 outline-none;
}

.rc-pagination-item a {
	@apply block py-0 px-2 text-gray-500 outline-none transition-none;
}

.rc-pagination-item a:hover {
	@apply no-underline;
}

.rc-pagination-item:focus,
.rc-pagination-item:hover {
	@apply border-gray-1000 transition-all;
}

.rc-pagination-item:focus a,
.rc-pagination-item:hover a {
	@apply text-gray-1100;
}

.rc-pagination-item-active {
	@apply rounded-lg border-2 border-solid border-gray-400 font-semibold;
}

.rc-pagination-item-active a {
	@apply text-gray-500;
}

.rc-pagination-item-active:focus,
.rc-pagination-item-active:hover {
	@apply border-gray-800;
}

.rc-pagination-item-active:focus a,
.rc-pagination-item-active:hover a {
	@apply text-gray-800;
}

.rc-pagination-jump-prev,
.rc-pagination-jump-next {
	@apply outline-none;
}

.rc-pagination-jump-prev button,
.rc-pagination-jump-next button {
	@apply cursor-pointer border-0 border-none bg-transparent text-gray-1600;
}

.rc-pagination-jump-prev button:after,
.rc-pagination-jump-next button:after {
	@apply block;
}

.rc-pagination-prev,
.rc-pagination-next,
.rc-pagination-jump-prev,
.rc-pagination-jump-next {
	@apply inline-block min-w-[2rem] cursor-pointer list-none rounded-sm text-center align-middle leading-7 text-gray-500 transition-all;
}

.rc-pagination-prev,
.rc-pagination-next {
	@apply outline-none;
}

.rc-pagination-prev button,
.rc-pagination-next button {
	@apply cursor-pointer select-none text-gray-500;
}

.rc-pagination-prev:hover button,
.rc-pagination-next:hover button {
	@apply border-gray-1200;
}

.rc-pagination-prev .rc-pagination-item-link,
.rc-pagination-next .rc-pagination-item-link {
	@apply block h-full w-full rounded-sm text-center outline-none transition-all;
}
.rc-pagination-prev:focus .rc-pagination-item-link,
.rc-pagination-prev:hover .rc-pagination-item-link,
.rc-pagination-next:focus .rc-pagination-item-link,
.rc-pagination-next:hover .rc-pagination-item-link {
	@apply border-gray-1100 text-gray-1100;
}

.rc-pagination-prev button:after {
	@apply block;
	content: "‹";
}

.rc-pagination-next button:after {
	@apply block;
	content: "›";
}

.rc-pagination-disabled,
.rc-pagination-disabled:hover,
.rc-pagination-disabled:focus {
	@apply cursor-not-allowed opacity-50;
}

.rc-pagination-disabled .rc-pagination-item-link,
.rc-pagination-disabled:hover .rc-pagination-item-link,
.rc-pagination-disabled:focus .rc-pagination-item-link {
	@apply cursor-not-allowed border-gray-1500 text-gray-1700;
}

.rc-pagination-slash {
	@apply mr-3 ml-2;
}

.rc-pagination-options {
	@apply ml-4 inline-block align-middle;
}

@media all and (-ms-high-contrast: none) {
	.rc-pagination-options *::-ms-backdrop,
	.rc-pagination-options {
		@apply align-top;
	}
}

.rc-pagination-options-size-changer.rc-select {
	@apply mr-2 inline-block w-auto;
}

.rc-pagination-options-quick-jumper {
	@apply inline-block h-7 align-top leading-7;
}

.rc-pagination-options-quick-jumper input {
	@apply mx-2 w-14;
}

.rc-pagination-simple .rc-pagination-prev,
.rc-pagination-simple .rc-pagination-next {
	@apply h-6 align-top leading-6;
}

.rc-pagination-simple .rc-pagination-prev .rc-pagination-item-link,
.rc-pagination-simple .rc-pagination-next .rc-pagination-item-link {
	@apply h-6 border-0 border-none bg-transparent;
}

.rc-pagination-simple .rc-pagination-prev .rc-pagination-item-link:after,
.rc-pagination-simple .rc-pagination-next .rc-pagination-item-link:after {
	@apply h-6 leading-6;
}

.rc-pagination-simple .rc-pagination-simple-pager {
	@apply mr-2 inline-block h-6;
}

.rc-pagination-simple .rc-pagination-simple-pager input {
	@apply mr-2 box-border h-full rounded-sm border-2 border-solid border-gray-1500 bg-white px-2 text-center outline-none transition-all;
}

.rc-pagination-simple .rc-pagination-simple-pager input:hover {
	@apply border-gray-1100;
}

.rc-pagination.rc-pagination-disabled {
	@apply cursor-not-allowed;
}

.rc-pagination.rc-pagination-disabled .rc-pagination-item {
	@apply cursor-not-allowed border-gray-1500 bg-gray-1800;
}

.rc-pagination.rc-pagination-disabled .rc-pagination-item a {
	@apply cursor-not-allowed border-0 border-none bg-transparent text-gray-1500;
}

.rc-pagination.rc-pagination-disabled .rc-pagination-item-active {
	@apply border-transparent bg-gray-1800;
}

.rc-pagination.rc-pagination-disabled .rc-pagination-item-active a {
	@apply text-white;
}

.rc-pagination.rc-pagination-disabled .rc-pagination-item-link {
	@apply cursor-not-allowed border-gray-1500 bg-gray-1800 text-gray-1700;
}

.rc-pagination.rc-pagination-disabled .rc-pagination-item-link-icon {
	@apply opacity-0;
}

.rc-pagination.rc-pagination-disabled .rc-pagination-item-ellipsis {
	@apply opacity-100;
}

@media only screen and (max-width: 992px) {
	.rc-pagination-item-after-jump-prev,
	.rc-pagination-item-before-jump-next {
		@apply hidden;
	}
}

@media only screen and (max-width: 576px) {
	.rc-pagination-options {
		@apply hidden;
	}
}

.rc-pagination-prev {
	@apply mr-3;
}

.rc-pagination-next {
	@apply ml-3;
}

.rc-pagination-disabled {
	@apply !hidden;
}
