@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Custom global overrides */
body {
	@apply antialiased;
}

tr a,
tr div {
	@apply clear-both inline-block max-w-full;
}

/* Custom variables */
.link-item {
	@apply block max-w-full;
}

.link-item a {
	@apply clear-both inline-block;
}

.icon-status {
	@apply text-left;
}

.icon-status span {
	@apply mx-auto inline-block;
}

.truncate-link,
.truncate-profile-text,
.truncate-breadcrumbs {
	@apply truncate;
}

.truncate-profile-text {
	width: auto;
}

.truncate-link,
.truncate-breadcrumbs {
	max-width: 30rem;
}

.scroll-dark-bg {
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 3px;
}

/* Custom vendor overrides */
.react-loading-skeleton {
	@apply !relative !rounded-md;
}

.legend-val {
	@apply font-semibold text-gray-1300;
}

.legend-text {
	@apply mr-2.5;
}

.apexcharts-legend {
	@apply !mx-auto !block max-w-xs;
}

.apexcharts-legend-text {
	@apply flex w-full items-center justify-between;
}

.apexcharts-legend-marker {
	@apply mr-2.5;
}

.apexcharts-legend-series {
	@apply flex cursor-pointer items-center border border-solid border-gray-1400 outline-none;
	padding-bottom: 10px;
	-webkit-tap-highlight-color: transparent;
}

.apexcharts-legend-series::last-child {
	@apply border-none;
}

.rc-pagination {
	@apply flex text-gray-500;
}

.rc-pagination li {
	@apply -mt-4 flex cursor-pointer items-center justify-center pt-4 text-sm font-medium leading-5 text-opacity-100 outline-none;
	color: rgba(160, 174, 192, var(--text-opacity));
}

.rc-pagination li:hover {
	color: rgba(74, 85, 104, var(--text-opacity));
}

.rc-pagination-item {
	@apply h-10 w-10;
}

.rc-pagination-item a {
	@apply outline-none;
}

.rc-pagination-item-active {
	border-top: 2px solid #667eea;
	color: #667eea !important;
}

.rc-pagination-prev {
	@apply mr-3;
}

.rc-pagination-next {
	@apply ml-3;
}

.rc-pagination-disabled {
	@apply !hidden;
}
